@import './components/Section/Section.css';
@import './components/Box/Box.css';

body {
	box-sizing: border-box;
	min-width: 300px;
	margin: 0;
}


.block {
	background-color: gray;
	width: 300px;
	margin: 15px;
	padding: 15px;
	display: inline-block;
}

.header {
	margin-bottom: 15px;
	font-weight: bold;
}

.description {
	color: white;
}